/* 居中
------------------------------- */
@mixin center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 1px边框
------------------------------- */
@mixin border {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    pointer-events: none;
    z-index: 1;
    border: none;
    border-width: 0;
}

/* 文本不换行
------------------------------- */
@mixin text-no-wrap() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 多行文本溢出
  ------------------------------- */
@mixin text-ellipsis($line: 2) {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

$pxMap: ('font-size': fs-, 'width': w-, 'height': h-) !default;
$percentMap: ('width-percent': width-, 'height-percent': height-) !default;
$marginMap: ('margin': m-, 'margin-top': mt-, 'margin-bottom': mb-, 'margin-left': ml-, 'margin-right': mr-) !default;
$paddingMap: ('padding': p-, 'padding-top': pt-, 'padding-bottom': pb-, 'padding-left': pl-, 'padding-right': pr-) !default;
$colorMap: ('background-color': bg-, 'color': c-) !default;

@mixin customStyle($type, $list) {
    // color/background-color
    @if map-has-key($colorMap, $type) {
        $prefix: map-get($colorMap, $type);
        @each $key, $value in $list {
            .#{$prefix}#{$key} {
                #{$type}: #{$value} !important;
            }
        }
    }
    // margin
    @else if $type == 'margin' {
        @each $style, $prefix in $marginMap {
            @each $key in $list {
                .#{$prefix}#{$key} {
                    #{$style}: #{$key}px !important;
                }
            }
        }
    }
    // padding
    @else if $type == 'padding' {
        @each $style, $prefix in $paddingMap {
            @each $key in $list {
                .#{$prefix}#{$key} {
                    #{$style}: #{$key}px !important;
                }
            }
        }
    }
    // font-size/width/height
    @else if map-has-key($pxMap, $type) {
        $prefix: map-get($pxMap, $type);
        @each $key in $list {
            .#{$prefix}#{$key} {
                #{$type}: #{$key}px !important;
            }
        }
    }
    // width-percent/height-percent
    @else if map-has-key($percentMap, $type) {
        $prefix: map-get($percentMap, $type);
        @each $key in $list {
            .#{$prefix}#{$key} {
                #{$type}: #{$key}#{'%'} !important;
            }
        }
    }
    @else {
        @error "传参错误";
    }
}
