@import "./common/var.scss";
@import "./common/mixin.scss";

/* 字体大小全局样式
------------------------------- */
@for $i from 10 through 32 {
    .fs#{$i} {
        font-size: #{$i}px !important;
    }
}

/* 可定制字体大小全局样式
------------------------------- */
@include customStyle('font-size', $font-size);

/* 外边距、内边距全局样式
------------------------------- */
@for $i from 1 through 10 {
    .m#{$i} {
        margin: #{$i}px !important;
    }

    .mt#{$i} {
        margin-top: #{$i}px !important;
    }

    .mr#{$i} {
        margin-right: #{$i}px !important;
    }

    .mb#{$i} {
        margin-bottom: #{$i}px !important;
    }

    .ml#{$i} {
        margin-left: #{$i}px !important;
    }

    .p#{$i} {
        padding: #{$i}px !important;
    }

    .pt#{$i} {
        padding-top: #{$i}px !important;
    }

    .pr#{$i} {
        padding-right: #{$i}px !important;
    }

    .pb#{$i} {
        padding-bottom: #{$i}px !important;
    }

    .pl#{$i} {
        padding-left: #{$i}px !important;
    }
}

/* 可定制外边距、内边距全局样式
------------------------------- */
@include customStyle('margin', $margin-size);
@include customStyle('padding', $padding-size);

/* 可定制宽度全局样式
------------------------------- */
@include customStyle('width', $width-size);

/* 可定制高度全局样式
------------------------------- */
@include customStyle('height', $height-size);


/* 可定制百分比宽度全局样式
------------------------------- */
@include customStyle('width-percent', $width-percent);

/* 可定制百分比高度全局样式
------------------------------- */
@include customStyle('height-percent', $height-percent);
