$color: ('000': #000);
$bg-color: ('000': #000);
$font-size: (40, 50, 60);
$margin-size: (15, 20, 25, 30, 35, 40, 45, 50, 55, 60);
$padding-size: (15, 20, 25, 30, 35, 40, 45, 50, 55, 60);
$width-size: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200);
$height-size: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200);
$width-percent: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$height-percent: (50, 100);
